<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="img-inicio/img1-ini.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="img-inicio/img2-ini.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
          <img src="img-inicio/img3-ini.jpg" class="d-block w-100" alt="...">
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
  </button>
</div>


<section id="news-events" class="py-5 bg-light">
  <div class="container">
      <div class="row text-center mb-5">
          <div class="col">
              <h2 class="display-4">Noticias y Eventos</h2>
              <p class="lead">Mantente al día con nuestras últimas noticias y eventos.</p>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <img src="img-inicio/img1.1-ini.png" class="card-img-top mx-auto" alt="Imagen de Evento de Adopción en Agosto">
                  <div class="card-body">
                      <h5 class="card-title">Evento de Adopción en Julio</h5>
                      <p class="card-text">Únete a nuestro evento de adopción en Julioy conoce a muchos perros que buscan un hogar. Habrá actividades para toda la familia.</p>
                  </div>
                  <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Leer mas</button>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <img src="img-inicio/img1.2-img.png" class="card-img-top mx-auto" alt="Imagen de Voluntariado en Refugios">
                <div class="card-body">
                    <h5 class="card-title">Voluntariado en Refugios</h5>
                    <p class="card-text">Descubre cómo puedes hacer la diferencia siendo voluntario en refugios de animales. Ayuda a cuidar, pasear y dar amor a perros y gatos que esperan ser adoptados. ¡Únete a esta noble causa!</p>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Leer mas</button>
                </div>
            </div>
        </div>
          <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                  <img src="img-inicio/img1.3-ini.png" class="card-img-top mx-auto" alt="Imagen de Historias de Adopción">
                  <div class="card-body">
                      <h5 class="card-title">Historias de Adopción</h5>
                      <p class="card-text">Lee las historias inspiradoras de familias que han adoptado a través de nuestro refugio. Conoce cómo han cambiado sus vidas gracias a la adopción de un perro.</p>
                  </div>
                  <div class="card-footer">
                    <button type="button" class="btn btn-outline-warning">Leer mas</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<section id="faq" class="py-5 bg-light">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col">
                <h2 class="display-4">Preguntas Frecuentes</h2>
                <p class="lead">Respuestas a las preguntas más comunes sobre la adopción de perros.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Cómo funciona el proceso de adopción?</h5>
                        <p class="card-text">El proceso de adopción comienza con una consulta previa para conocer al adoptante y su entorno. Luego, se realiza una visita al refugio para conocer a los perros disponibles. Finalmente, se completa la documentación y se organiza la adopción.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Qué documentos necesito para adoptar?</h5>
                        <p class="card-text">Necesitarás una identificación oficial, comprobante de domicilio y, en algunos casos, referencias personales. Estos documentos nos ayudan a asegurar que los perros serán adoptados por familias responsables y amorosas.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Qué costos están asociados con la adopción?</h5>
                        <p class="card-text">La adopción de un perro puede tener un costo asociado para cubrir gastos de vacunación, esterilización y mantenimiento del refugio. Estos costos varían dependiendo del perro y del refugio.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">¿Puedo devolver al perro si no me adapto?</h5>
                        <p class="card-text">Sí, entendemos que en algunos casos la adaptación puede ser difícil. Ofrecemos apoyo y orientación para ayudar en el proceso, y si es necesario, el perro puede ser devuelto al refugio.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>