<div class="text-center">
    <img src="img-adop/img/text-img1.png" alt="">
    <p class="lead">La defensa de los animales es una causa que involucra justicia, compasión y respeto. Con responsabilidad, seguiremos defendiendo los derechos animales, dando así voz a aquellos que todavía no la tienen en nuestra sociedad.</p>

</div>
<div class="container">
    <div class="image-container">
        <img src="img-adop/img/img1-adop.jpg" alt="Imagen 1">
        <div class="lead overlay">
            <h2>Max</h2>
            <p>Adopta</p>
            <p>Es amigable y juguetón. Le encanta correr y jugar a la pelota.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img2-adop.jpg" alt="Imagen 2">
        <div class="lead overlay">
            <h2>Rocky</h2>
            <p>Adopta</p>
            <p>Rocky es energético y protector. Le gusta explorar su entorno.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>

        </div>    
    </div>
    <div class="image-container">
        <img src="img-adop/img/img3-adop.jpg" alt="Imagen 3">
        <div class="lead overlay">
            <h2>Bella</h2>
            <p>Adopta</p>
            <p>Bella es cariñosa y tranquila. Disfruta de las siestas largas y los abrazos. </p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img4-adop.jpg" alt="Imagen 4">
        <div class="lead overlay">
            <h2>Luna</h2>
            <p>Adopta</p>
            <p>Luna es dulce y curiosa. Siempre está descubriendo cosas nuevas.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img5-adop.jpg" alt="Imagen 5">
        <div class="lead overlay">
            <h2>Charlie</h2>
            <p>Adopta</p>
            <p>Charlie es leal y obediente. Disfruta de las caminatas largas.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img6-adop.jpg" alt="Imagen 6">
        <div class="lead overlay">
            <h2>Lucy</h2>
            <p>Adopta</p>
            <p>Lucy es inteligente y activa. Le encanta resolver problemas.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img7-adop.jpg" alt="Imagen 7">
        <div class="lead overlay">
            <h2>Buddy</h2>
            <p>Adopta</p>
            <p>Buddy es sociable y alegre. Disfruta estar rodeado de personas y otros perros.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img8-adop.jpg" alt="Imagen 8">
        <div class="lead overlay">
            <h2>Daisy</h2>
            <p>Adopta</p>
            <p>Daisy es afectuosa y gentil. Le gusta estar cerca de su familia. </p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img9-adop.jpg" alt="Imagen 9">
        <div class="lead overlay">
            <h2>Oscar</h2>
            <p>Adopta</p>
            <p>Oscar es divertido y travieso. Siempre encuentra maneras de entretenerse. </p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img10-adop.jpg" alt="Imagen 10">
        <div class="lead overlay">
            <h2>Molly</h2>
            <p>Adopta</p>
            <p>Molly es amable y fiel. Es muy protectora y disfruta de la compañía humana. </p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img11-adop.jpg" alt="Imagen 11">
        <div class="lead overlay">
            <h2>Toby</h2>
            <p>Adopta</p>
            <p>Toby es juguetón y cariñoso. Le gusta jugar con sus juguetes favoritos. </p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
    <div class="image-container">
        <img src="img-adop/img/img12-adop.jpg" alt="Imagen 12">
        <div class="lead overlay">
            <h2>Lucas</h2>
            <p>Adopta</p>
            <p>Lucas es tranquilo y amoroso. Le encanta relajarse y recibir caricias.</p>
            <button type="button" class="btn btn-outline-warning">Adoptar</button>
        </div>
    </div>
</div>
<div class="lead ms-cont">
<p>Ayúdanos a seguir ayudando uniéndote a</p>
<button type="button" class="btn btn-outline-warning">Nuestra comunidad</button>
</div>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="1500">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="img-adop/img/carrusel1-adop.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img-adop/carrusel2-adop.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="img-adop/img/carrusel3-adop.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  </div>

