
.contact-info-section {
    text-align: center;
    margin-top: 2rem;
  }
  
  .contact-info-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .contact-info-section p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .contact-info-section p strong {
    color: #2196f3;
  }
  
  /* Ajusta el espacio entre los dos componentes */
.component-separator {
  margin-top: 2rem;
}
