<section id="servicios" class="py-5">
    <div class="container">
        <h2 class="section-title">Servicios</h2>
        <div class="row">
            <!-- Consulta Médica -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio1.png" alt="Consulta Médica">
                <div class="text">
                    <h5>Consultas de Especialidad</h5>
                    <p>Consulta médica veterinaria con los mejores especialistas de todo el Perú siempre dispuestos a dar todo por la salud de tu mascota.</p>
                </div>
            </div>
            <!-- Peluquería para Mascotas -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio2.png" alt="Peluquería para Mascotas">
                <div class="text">
                    <h5>Peluquería para Mascotas</h5>
                    <p>Cuidamos el aspecto y la salud de tu engreído haciendo uso de productos de la más alta calidad.</p>
                </div>
            </div>
            <!-- Internamientos de Última Generación -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio3.png" alt="Internamientos de Última Generación">
                <div class="text">
                    <h5>Internamientos de Última Generación</h5>
                    <p>Área de internados de última generación y el mejor personal dedicado las 24 horas al cuidado de tu mascota.</p>
                </div>
            </div>
            <!-- Pet Shop -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio4.png" alt="Pet Shop">
                <div class="text">
                    <h5>Pet Shop</h5>
                    <p>Tenemos la mejor y más variada tienda de artículos para mascotas de toda Lima.</p>
                </div>
            </div>
            <!-- Cirugías -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio5.png" alt="Cirugías">
                <div class="text">
                    <h5>Cirugías</h5>
                    <p>Cirugía veterinaria en las más modernas instalaciones y con los cirujanos más experimentados.</p>
                </div>
            </div>
            <!-- Laboratorio -->
            <div class="col-12 service-item">
                <img src="img-adop/servicio6.png" alt="Laboratorio">
                <div class="text">
                    <h5>Laboratorio</h5>
                    <p>Disponemos de los mejores analistas y el más moderno laboratorio de muestras.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row text-center mb-5">
        <div class="col">
            <h2 class="display-4">Escribenos</h2>
            <p class="lead">Si tienes alguna sugerencia o pregunta, hacernos alguna donación o ser parte de nuestro equipo mandanos un mensaje!</p>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="motivo">Motivo</label>
                    <select class="form-control" id="motivo" required>
                        <option>Información sobre adopción</option>
                        <option>Donacion</option>
                        <option>Eventos de adopción</option>
                        <option>Otro</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Tu nombre" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="tel" class="form-control" id="telefono" placeholder="Tu teléfono" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Tu email" required>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="mensaje">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="5" placeholder="Tu mensaje" required></textarea>
        </div>
        <br>
        <button type="button" class="btn btn-outline-warning">Enviar</button>
    </form>
</div>