<footer class=" footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <h5>Redes Sociales</h5> 
              <ul class="list-unstyled">
                  <li>
                      <img src="instagra.png" alt="Instagram" style="width: 30px; height: 30px;">
                      Instagram: <a href="https://www.instagram.com/oficial_amorespeludos?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">patitas_en_espera</a>
                  </li>
                  <li>
                      <img src="tiktok.png" alt="TikTok" style="width: 30px; height: 30px;">
                      TikTok: <a href="https://www.tiktok.com/@oficial_amorespeludos?is_from_webapp=1&sender_device=pc">patitas_en_espera</a>
                  </li>
              </ul>
          </div>
          <div class="col-md-6">
              <h5>Contacto</h5>
              <ul class="list-unstyled">
                  <li>Teléfono: +51 933 026 895</li>
                  <li>Email: patitasenespera_gmail.com</li>
                  <li>Estamos aquí para ayudarte a encontrar a tu nuevo mejor amigo.</li>
              </ul>
          </div>
      </div>
  </div>
  <div class="derechos">
      <p>© Patitas en espera. Todos los derechos reservados</p>
  </div>
</footer>