/* nuestros-valores.component.css */

.values-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .values-section h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .values-section ul {
    padding: 0;
  }
  
  .values-section li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
  }
  
  .values-section li::before {
    content: "\2022"; /* Código Unicode para el símbolo de viñeta */
    color: #007bff; /* Color del símbolo de viñeta */
    font-size: 18px;
    position: absolute;
    left: 0;
    top: 2px;
  }
  
  .values-section li strong {
    font-weight: bold;
    margin-right: 5px;
  }
  