
<div class="quienes-somos-container">
    <div class="content">
      <h2>Quienes somos</h2>
      <p>En el Centro de Adopción Ladridos & Maullidos nuestra misión es rescatar animales en situación de abandono o maltrato y darlos en adopción a personas o familias con responsabilidad y compromiso. Por eso, desde hace 10 años, con amor y pasión se fundó este Centro de Adopción fundado por jóvenes rescatistas del Instituto de Educación Superior Del Peru. Contamos con un equipo de jóvenes voluntarios brindando servicios de rescate de perros y gatos en situación de calle y en situaciones de maltrato animal. Además, también nos dedicamos a dar servicios médicos a animales con salud vulnerable o estados críticos, contando con un convenio con la Veterinaria Mundo Animal. ¡Súmate a la ayuda, difunde para que estos puedan encontrar su hogar!</p>

    </div>
    <div class="founder-info">
      <img src="fundador.jpeg" alt="Fundador" class="founder-image">
      <h3></h3>
      
      <h1 class="founder-h1title"><strong>Barreto <br> Walter Junior</strong></h1>
      <p class="founder-title">Director & Fundador <br>  </p> 
      <span class="barra">´</span>
    </div>
  </div>
  <div>
<section class="sect">
     <article class="art">
            <aside class="asd">
              <div class="text">
              <h2>Propuesta De Valor</h2>
              <h4>#VALORAGREGADO</h4>
              <span> ´</span>
              <p>En <strong>'Ladridos & Maullidos'</strong>, transformamos vidas conectando corazones. Nos dedicamos a encontrar hogares amorosos para mascotas necesitadas, proporcionando cuidado experto y amoroso a cada animal. Con un enfoque en la adopción responsable, garantizamos el bienestar de nuestras mascotas antes y después de encontrar un nuevo hogar. Únete a nosotros para hacer una diferencia tangible en la vida de un animal y en tu propia vida.</p>
              </div>
            </aside>
            <aside class="asd">
              <div class="text">
              <h2>Mision</h2>
              <h4>#NUESTRAMISION</h4>
              <span>´</span>
              <p>En <strong>'Ladridos & Maullidos'</strong>, nuestra misión es brindar una segunda oportunidad a cada mascota abandonada o en situación de riesgo, asegurando su bienestar físico y emocional mientras esperan encontrar un hogar permanente. Nos comprometemos a educar a la comunidad sobre la adopción responsable y a fomentar el amor y la empatía hacia los animales. Trabajamos incansablemente para construir puentes de afecto y confianza entre nuestras mascotas y nuevas familias.</p>
              </div>
            </aside>
            <aside class="asd">
              <div class="text">
              <h2>Vision</h2>
              <h4>#NUESTRAVISION</h4>
              <span>´</span>
              <p>Nuestra visión en <strong>'Ladridos & Maullidos'</strong> nos visualizamos como un líder en la promoción del bienestar animal y la adopción responsable. Queremos ser reconocidos por nuestra dedicación inquebrantable hacia cada mascota, asegurando que encuentren un hogar lleno de amor y cuidado. Buscamos expandir nuestro impacto, inspirando a más personas a adoptar y cuidar de mascotas necesitadas, creando así comunidades más compasivas y comprometidas con el bienestar animal.</p>
              </div>
            </aside>
     </article>
</section>
