@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


  .quienes-somos-container {
    display: flex;
    padding: 150px;
    background: linear-gradient(200deg, #ffffff, #efefef);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
  }
  
  .content {
    flex: 2;
    text-align: center;
    margin: 20px auto;
    max-width: 800px; /* Limita el ancho del artículo para que no se vea muy extendido en pantallas grandes */
    padding: 20px; /* Añadir una sombra sutil al artículo */
    border: 30px;
  }
  
  h2 {
    font-weight: 700; /* Negrita */
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1em;
    line-height: 1.6;
    color: #000000;
  }
  
  .founder-info {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .founder-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1px;
  }
  
  h3 {
    font-size: 1.2em;
    color: black;
    font-weight: 700; /* Negrita */
    margin-bottom: 5px;
  }
  .founder-h1title{
    margin: 5px;
    font-size: 1.8em;
  }
  .founder-title {
    font-size: 0.8em;
    color: black;
    text-transform: uppercase;
  }
  .barra{
    width: 50px;
    height: 10px;
    background-color: hsl(24, 67%, 36%);
    margin: 0px;
  }
  .sect{
    width: 100%;
    height: 560px;
    background: linear-gradient(200deg, #ffffff, #efefef);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .art{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .asd{
    width: 33.33%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .text{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0;
  }
  .text h2{
    font-size: 2em;
    color: #333;
    margin: 0px;
  }
  .text h4{
    font-size: 0.85em;
    color: #333;
  }
  .text span{
    width: 50px;
    height: 10px;
    background-color: green;
  }
  .text p{
    font-size: 1em;
    color: #000000;
    margin: 1em 0;
    text-align: center;
  }


  @media (max-width: 768px) {
    .quienes-somos-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .content {
      padding: 20px;
      margin-bottom: 20px;
    }
  
    .founder-info {
      margin-top: 20px;
    }
  }
  