<div class="admin-dashboard-container">
    <app-admin-navbar></app-admin-navbar>
    <div class="company-history">
      <p>¡Bienvenido al panel de control de nuestra empresa financiera!</p>
      <p>Nuestra empresa fue fundada en el año XXXX con el objetivo de proporcionar servicios financieros de calidad a nuestros clientes.</p>
      <p>Desde entonces, hemos estado comprometidos con la excelencia en el servicio al cliente y la innovación en el sector financiero.</p>
    </div>
    <div class="charts-container">
      <app-bar-chart></app-bar-chart>
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
  