<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Centro de Adopcion <span class="span">LADRIDOS & MAULLIDOS</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link text-dark" routerLink="/inicio" routerLinkActive="active">INICIO</a></li>
        <li class="nav-item"><a class="nav-link text-dark" routerLink="/adopta" routerLinkActive="active">ADOPTA</a></li>
        <li class="nav-item"><a class="nav-link text-dark" routerLink="/nosotros" routerLinkActive="active">NOSOTROS</a></li>
        <li class="nav-item"><a class="nav-link text-dark" routerLink="/sedes" routerLinkActive="active">SEDES</a></li>
        <li class="nav-item"><a class="nav-link text-dark" routerLink="/servicios" routerLinkActive="active">SERVICIOS</a></li>
      </ul>
    </div> 
  </div>
</nav>