.text-center img{
width: 100%;
height: 100%;
}
.navbar{
  background-color: rgba(250, 250, 161, 0.747);
}
.navbar-brand {
  color: rgb(0, 0, 0);
  font-weight: 100;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.navbar-brand .span {
  font-weight: bold;
  font-size: 1.5rem;
  align-self: center;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-link:hover {
  color: #ebebeb63;
}

.nav-link.active {
  background-color: rgb(105, 193, 245);
  border-radius: 20px; /* Ajusta el radio según tu preferencia */
  color: #ffffff; /* Color marrón para el texto del enlace activo */
}