<section id="sedes" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede1.png" class="card-img-top" alt="Sede Cusco">
                    <div class="card-body">
                        <h5 class="card-title">Cusco</h5>
                        <p class="card-text">Ubicación: Av. Principal 123, Cusco</p>
                        <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede2.png" class="card-img-top" alt="Sede Arequipa">
                    <div class="card-body">
                        <h5 class="card-title">Arequipa</h5>
                        <p class="card-text">Ubicación: Calle Central 456, Arequipa</p>
                        <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede3.png" class="card-img-top" alt="Sede Trujillo">
                    <div class="card-body">
                        <h5 class="card-title">Trujillo</h5>
                        <p class="card-text">Ubicación: Jr. Independencia 789, Trujillo</p>
                     <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede5.png" class="card-img-top" alt="Sede Cajamarca">
                    <div class="card-body">
                        <h5 class="card-title">Cajamarca</h5>
                        <p class="card-text">Ubicación: Av. Los Héroes 101, Cajamarca</p>
                    <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede4.png" class="card-img-top" alt="Sede Lima Callao">
                    <div class="card-body">
                        <h5 class="card-title">Lima</h5>
                        <p class="card-text">Ubicación: Av. La Marina 202, Lima</p>
                    <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="img-adop/sede6.png" class="card-img-top" alt="Sede Loreto">
                    <div class="card-body">
                        <h5 class="card-title">Loreto</h5>
                        <p class="card-text">Ubicación: Calle Amazonas 303, Loreto</p>
                    <a href="#" class="btn btn-contact">Contactar</a>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section> 
